@import "tailwindcss";

@theme {
  --color-gold: #cba774;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
}

body {
  font-family: var(--font-sans);
  color: #1f2937;
  background-color: #F9F7F3;
}

.font-serif {
  font-family: var(--font-serif) !important;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F9F7F3;
}

::-webkit-scrollbar-thumb {
    background: #cba774;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b89565;
}
